   

	</section>
		<div class="footer">
			<p class="fottext">©Liva Linde 2019 <br>Evija: Creates & Designs for You</p>
		</div>
	
</div>
     
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.6/svg.js"></script>
   <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
	
	<script>
    	baguetteBox.run('.kidsevents, .lifestyle, .wedding');
    </script>
    </body>
</html>