<!DOCTYPE html>
<html lang="en">
<head>
	<title>Liv: to be</title>
	<!-- META TAGS -->
	<meta charset="UTF-8">
	<meta name="description" content="A description of the page" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="-i55qYJ931T-nIZOPVmqjMFwaKcTsBVRDJOOAtEb53Y" />
	
	<!-- Default mode for google search engine, doesnt pick any specific region or language -->
	<link rel="alternate" hreflang="x-default" href="http://www.livalinde.com/" />

	<!-- Bootstrap, CSS files, Semantic icons -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
	
	<!-- Gooogle Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Krub" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Simonetta:400,400i,900" rel="stylesheet">
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133237482-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'UA-133237482-1');
	</script>

</head>		
	

			



