 <% include partials/header %>
 

		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					<img alt="Brand" style="max-width:120px; margin-top: -12px;" src="/stylesheets/logo.png">
				</a>

				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo"
				 aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="bs-nav-demo">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
					<li class="active"><a href="about">My Story</a></li>
					<li><a href="portfolio">Portfolio</a></li>
					<li><a href="roadjournal">Liv: to be</a></li>
					<li class="special"><a href="contact">Say Hello</a></li>
				</ul>
			</div>
		</nav>

 <body class="about parallax">
 	<div class="container-fluid">
 		
		<div class="aboutsection">
			
			<div class="intro">
				<div class="pads">
    				<span class="caps">PHOTOGRAPHER ...</span><br>
					<p> Who has fallen in love with mountains, cumulus clouds, 
    				outdoor expeditions and suistanable traveling. I love to meet people, listen 
    				to their experiences, and bring their stories to life through the images I create. 
    				Alike I love to work with childrens, take part in meaningful events, search for details,
    				creative angles and focus on composition and colours.</p>
    			</div>
    
    			<div class="pads">
    					<span class="caps">WRITER ...</span><br> 
					<p>Who loves to write letters of travel, stories that matter, and finding ways
    					of telling more with less words. I like to play a bit with poetry, put a bit of philosophy 
    					in my writing, but still keep every article simple, logical, and understandable. With a bit 
    					of creativity it’s possible to make authentic stories which bring you closer to a person or
    					area of the world. </p>
    			</div>
    			
    			<div class="pads">
    				<span class="caps">EXPLORER ...</span><br> 
				<p>Who is moved by long treks and mountain expeditions.  I love the smell of bonfires 
    				and the sound when rain drops hit the tent. Outdoor lifestyle is my passion and biggest inspiration. 
    				Since my childhood I have been interested in exploring the world and searching for ways  how I can 
    				learn more, see more, understand more and be more trough my life journey.  </p>
    			</div>
			</div>
		
			<div class="education">
				<ul>
					<li>Workshop with Swiss Photo Club <br> (2019 spring, Namibia) </li>
					<li>British College of Journalism | Travel Journalism<br> (2019 - ongoing, online) </li>
    				<li>The New York Institute of Photography<br> (2016 - 2018, online)</li>
    				
				</ul>
					
    			<ul>
    				<li>Workshop with Alex Webb & Rebecca Norris Webb<br> (2017 spring, Rome)</li>
    			    <li>Visual communication | PR studies<br> (2006 - 2010, Riga)</li>
    			</ul>
			 </div>
			</div>
		
<% include partials/footer %>