<% include partials/header %>

<body class="sectionlifestyle">
    <div class="container-fluid">
        <a href="portfolio" class="btn btn-basic" role="button">Back to Portfolio</a>
        
    <section class="lifestyle">
        <main class="mainpanel">
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/0M2A3469-2.jpg">
                    <img src="/stylesheets/lifestyle/0M2A3469-2.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/0M2A3470-2.jpg">
                    <img src="/stylesheets/lifestyle/0M2A3470-2.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/0M2A3726-2.jpg">
                    <img src="/stylesheets/lifestyle/0M2A3726-2.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/0M2A3783-2.jpg">
                    <img src="/stylesheets/lifestyle/0M2A3783-2.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/0M2A4035-3.jpg">
                    <img src="/stylesheets/lifestyle/0M2A4035-3.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/0M2A4091-3.jpg">
                    <img src="/stylesheets/lifestyle/0M2A4091-3.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/0M2A4190.jpg">
                    <img src="/stylesheets/lifestyle/0M2A4190.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/0M2A4206.jpg">
                    <img src="/stylesheets/lifestyle/0M2A4206.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/0M2A4257.jpg">
                    <img src="/stylesheets/lifestyle/0M2A4257.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/0M2A4474.jpg">
                    <img src="/stylesheets/lifestyle/0M2A4474.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/0M2A7342a.jpg">
                    <img src="/stylesheets/lifestyle/0M2A7342a.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/0M2A7575-3.jpg">
                    <img src="/stylesheets/lifestyle/0M2A7575-3.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/0M2A9026.jpg">
                    <img src="/stylesheets/lifestyle/0M2A9026.jpg">
                    </a>
                </div>
                <div class="iimageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/0M2A9029.jpg">
                    <img src="/stylesheets/lifestyle/0M2A9029.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/0M2A9030.jpg">
                    <img src="/stylesheets/lifestyle/0M2A9030.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/0M2A9115.jpg">
                    <img src="/stylesheets/lifestyle/0M2A9115.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/0M2A9330.jpg">
                    <img src="/stylesheets/lifestyle/0M2A9330.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/0M2A9412.jpg">
                    <img src="/stylesheets/lifestyle/0M2A9412.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/0M2A9442.jpg">
                    <img src="/stylesheets/lifestyle/0M2A9442.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/0M2A9449.jpg">
                    <img src="/stylesheets/lifestyle/0M2A9449.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/0M2A9618-3.jpg">
                    <img src="/stylesheets/lifestyle/0M2A9618-3.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/0M2A9867-3.jpg">
                    <img src="/stylesheets/lifestyle/0M2A9867-3.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/IMG_1527-3.jpg">
                    <img src="/stylesheets/lifestyle/IMG_1527-3.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/IMG_1604-2.jpg">
                    <img src="/stylesheets/lifestyle/IMG_1604-2.jpg">
                    </a>
                </div>
                  <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/IMG_5734-3.jpg">
                    <img src="/stylesheets/lifestyle/IMG_5734-3.jpg">
                    </a>
                </div>
                  <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/IMG_8257-3.jpg">
                    <img src="/stylesheets/lifestyle/IMG_8257-3.jpg">
                    </a>
                </div>
                 <div class="imageslayout">
                    <a class="lightbox" href="/stylesheets/lifestyle/Maliena 002.jpg">
                    <img src="/stylesheets/lifestyle/Maliena 002.jpg">
                    </a>
                </div>
                  <div class="imageslayouts">
                    <a class="lightbox" href="/stylesheets/lifestyle/Titulbilde.jpg">
                    <img src="/stylesheets/lifestyle/Titulbilde.jpg">
                    </a>
                </div>
                  
          </main>
          
<% include partials/footer %>
