 <% include partials/header %>
 

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img alt="Brand" style="max-width:120px; margin-top: -12px;" src="/stylesheets/logo.png">
			</a>

			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 	data-target="#bs-nav-demo" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="bs-nav-demo">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Home</a></li>
				<li><a href="about">My Story</a></li>
				<li class="active"><a href="portfolio">Portfolio</a></li>
				<li><a href="roadjournal">Liv: to be</a></li>	
				<li class="special"><a href="contact">Say Hello</a></li>
			</ul>
		</div>
	</nav>
	
<body class="mywork">
	<div class="container-fluid">	

		<section class="portfolio">
			<main class="galleries">
				
				<div class="images">
					<a href="kidsevents"><img  class="hover gallery-image" src="/stylesheets/kidsevents/Titulbilde.jpg" alt="kids in photos">
					<h2 class="shorttext">Kids Events</h2></a>
				</div>
				
				<div class="images">
					<a href="lifestyle"><img class="hover gallery-image" src="/stylesheets/lifestyle/Titulbilde.jpg" alt="lifestyle photos">
					<h2 class="shorttext">Lifestyle Events</h2></a>
				</div>
				
				<div class="images">
					<a href="wedding"><img class="gallery-image" src="/stylesheets/wedding/Titulbilde.jpg" alt="wedding photos">
					<h2 class="shorttext">Wedding</h2></a>
				</div>
				
				<!--<div class="images">-->
				<!--	<a href="travelnature"><img class=" gallery-image" src="https://images.unsplash.com/photo-1506045412240-22980140a405?w=500&h=500&fit=crop" alt="people holding umbrellas on a busy street at night lit by street lights and illuminated signs in Tokyo, Japan">-->
				<!--	<h2 class="shorttext">Travel | nature</h2></a>-->
				<!--</div>-->
				
			<!--	<div class="images">-->
			<!--		<a href="travelcities"><img class="hover gallery-image" src="https://images.unsplash.com/photo-1514041181368-bca62cceffcd?w=500&h=500&fit=crop" alt="car interior from central back seat position showing driver and blurred view through windscreen of a busy road at night">-->
			<!--		<h2 class="shorttext">Travel | cities</h2></a>-->
			<!--	</div>-->
				
			<!--	<div class="images">-->
			<!--		<a href="portraits"><img class="hover gallery-image" src="https://images.unsplash.com/photo-1486334803289-1623f249dd1e?w=500&h=500&fit=crop" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">-->
			<!--		<h2 class="shorttext">Portraits</h2></a>-->
			<!--	</div>-->
				
			<!--	<div class="images">-->
			<!--		<a href="sport"><img class="hover gallery-image"src="/stylesheets/0M2A8910.jpg" alt="Brends">-->
			<!--		<h2 class="shorttext">Sport</h2></a>-->
			<!--	</div>-->
			<!--	<div class="images">-->
			<!--		<a href="brands"><img  class="hover gallery-image" src="/stylesheets/GIZZO slogans.jpg" alt="gizzo grils">-->
			<!--		<h2 class="shorttext">Brands</h2></a>-->
			<!--	</div>-->
			<!--	<div class="images">-->
			<!--		<a href="photosessions"><img  class="hover gallery-image" src="/stylesheets/GIZZO slogans.jpg" alt="gizzo grils">-->
			<!--		<h2 class="shorttext">Photo sessions</h2></a>-->
			<!--	</div>-->
			  </main>
			  
			<div class="social2">
				<div class="items-social">
					<a class="social-media facebook" href="https://www.facebook.com/liv.tobe/" target="_blank"></a>
				</div>
				<div class="items-social"> 
					<a class="social-media instagram" href="https://www.instagram.com/liva_linde/" target="_blank"></a>
				 </div>
				 <div class="items-social">
				 	<a class="social-media linkedin" href="https://www.linkedin.com/in/liva-linde/" target="_blank"></a>
				 </div>
			</div>
		


<% include partials/footer %>