	<% include partials/header %>
	

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img alt="Brand" style="max-width:120px; margin-top: -12px;" src="/stylesheets/logo.png">
			</a>

			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 	data-target="#bs-nav-demo" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="bs-nav-demo">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Home</a></li>
				<li><a href="about">My Story</a></li>
				<li><a href="portfolio">Portfolio</a></li>
				<li class="active"><a href="roadjournal">Liv: to be</a></li>	
				<li class="special"><a href="contact">Say Hello</a></li>
			</ul>
		</div>
	</nav>

<body class="roadjournal">
	<div class="container-fluid">
		<div id="comingsoon">
			<h1>COMING SOON!</h1>
		</div>
	<!--<section class="sectionjournal">-->
	<!--		<main class="blogs">-->
	<!--			<div class="blogitem">-->
	<!--				<a href="blog1"><img class="gallery-image" src="https://images.pexels.com/photos/618833/pexels-photo-618833.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="sunset behind San Francisco city skyline">-->
	<!--				<h2 class="shorttext">BLOG NAME</h2></a>-->
	<!--				<p class="blogintro">..... some introduction text about the trip ....</p>-->
	<!--			</div>-->
				
	<!--			<div class="blogitem">-->
	<!--				<a href="nature"><img class="gallery-image" src="https://images.unsplash.com/photo-1515260268569-9271009adfdb?w=500&h=500&fit=crop" alt="sunset behind San Francisco city skyline">-->
	<!--				<h2 class="shorttext">BLOG NAME</h2></a>-->
	<!--				<p>..... some introduction text about the trip ....</p>-->
	<!--			</div>-->
				
	<!--				<div class="blogitem">-->
	<!--				<a href="nature"><img class="gallery-image" src="https://images.unsplash.com/photo-1515260268569-9271009adfdb?w=500&h=500&fit=crop" alt="sunset behind San Francisco city skyline">-->
	<!--				<h2 class="shorttext">BLOG NAME</h2></a>-->
	<!--				<p>..... some introduction text about the trip ....</p>-->
	<!--			</div>-->
				
	<!--			<div class="blogitem">-->
	<!--				<a href="nature"><img class="gallery-image" src="https://images.unsplash.com/photo-1515260268569-9271009adfdb?w=500&h=500&fit=crop" alt="sunset behind San Francisco city skyline">-->
	<!--				<h2 class="shorttext">BLOG NAME</h2></a>-->
	<!--				<p>..... some introduction text about the trip ....</p>-->
	<!--			</div>-->
				
	<!--			<div class="blogitem">-->
	<!--				<a href="nature"><img class="gallery-image" src="https://images.unsplash.com/photo-1515260268569-9271009adfdb?w=500&h=500&fit=crop" alt="sunset behind San Francisco city skyline">-->
	<!--				<h2 class="shorttext">BLOG NAME</h2></a>-->
	<!--				<p>..... some introduction text about the trip ....</p>-->
	<!--			</div>-->
	<!--			<div class="blogitem">-->
	<!--				<a href="nature"><img class="gallery-image" src="https://images.unsplash.com/photo-1515260268569-9271009adfdb?w=500&h=500&fit=crop" alt="sunset behind San Francisco city skyline">-->
	<!--				<h2 class="shorttext">BLOG NAME</h2></a>-->
	<!--				<p>..... some introduction text about the trip ....</p>-->
	<!--			</div>-->
	<!--			<div class="blogitem">-->
	<!--				<a href="nature"><img class="gallery-image" src="https://images.unsplash.com/photo-1515260268569-9271009adfdb?w=500&h=500&fit=crop" alt="sunset behind San Francisco city skyline">-->
	<!--				<h2 class="shorttext">BLOG NAME</h2></a>-->
	<!--				<p>..... some introduction text about the trip ....</p>-->
	<!--			</div>-->
	<!--		</main>-->
			
			
	<!--		<div class="social2">-->
	<!--			<div class="items-social">-->
	<!--				<a class="social-media facebook" href="https://www.facebook.com/liv.tobe/" target="_blank"></a>-->
	<!--			</div>-->
	<!--			<div class="items-social"> -->
	<!--				<a class="social-media instagram" href="https://www.instagram.com/liva_linde/" target="_blank"></a>-->
	<!--			 </div>-->
	<!--			 <div class="items-social">-->
	<!--			 	<a class="social-media linkedin" href="https://www.linkedin.com/in/liva-linde-8928a1146/?fbclid=IwAR12IXIttbFZeYzW3e3IlPZWTFy3WWhG8Ckw0dlD08EQeFwiUEzb6atnDWw" target="_blank"></a>-->
	<!--			 </div>-->
	<!--		</div>		-->
	<% include partials/footer %>